.success_error{
    font-size: 1.6rem;
    margin: 1rem auto;
    max-width: 40rem;
    text-align: center;

}


.login-form .form_container,
.register-form .form_container {
    margin: 1rem auto;
    max-width: 40rem;
    border-radius: .5rem;
    border: 0.2rem solid var(--main-bg-color);
    padding: 2rem;
    text-align: center;
    margin-bottom:7rem;
}

.login-form form h3,
.register-form form h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-bg-color);
    margin-bottom: .7rem;
}
.already_acc{
    font-size: 2rem;
    color: var(--black);
}
.login-form form .inputBox,
.register-form form .inputBox {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    background: var(--second-bg-color);
    padding: .5rem 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}
.login-form form .inputBox input,
.register-form form .inputBox input{
    border: none;
}
.login-form form .inputBox input:focus,
.register-form form .inputBox input:focus{
    outline:0px !important;
}
.login-form form .inputBox span,
.register-form form .inputBox span {
    color: var(--second-text-color);
    margin-left: 1rem;
    font-size: 2rem;
}

.login-form form .inputBox input,
.register-form form .inputBox input {
    width: 100%;
    padding: 1rem;
    background: none;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
}

.login-form form .flex,
.register-form form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

.login-form form .flex label,
.register-form form .flex label {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--second-text-color);
}

.login-form form .flex a,
.register-form form .flex a {
    font-size: 1.5rem;
    color: var(--second-text-color);
    margin-left: auto;
}

.login-form form .flex a:hover,
.register-form form .flex a:hover {
    color: var(--main-text-color);
}

.login-form form input[type="submit"],
.register-form form input[type="submit"] {
    background: var(--main-text-color);
    color: #fff;
}

.login-form form input[type="submit"]:hover,
.register-form form input[type="submit"]:hover {
    background: var(--main-text-color);
}

.login-form .form_container .btn,
.register-form .form_container .btn {
    width: 100%;
}