.products .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 4rem;
}

.featured .featured-container .box {
    padding: 3rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}
